/* CLASES ESTRUCTURALES */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* ID: Titulo_App */
#Titulo_App {
   /* Ajustes de posición y centrado */
   padding: 8px;
   text-align: center; /* Centrar horizontalmente */
   margin-bottom: 20px; /* Agrega espacio entre el título y otros elementos */
 
   /* Estilo del título */
   background-color: rgb(188, 6, 170);
   border-radius: 10px;
   font-family: Arial;
   color: rgb(255, 255, 255);
   transition: color 0.3s ease-in-out;
   font-size: 100px;
   animation: cambioColorLetra1 5s infinite;
}

@keyframes cambioColorLetra1 {
   0% { color: rgb(33, 244, 174); }
   50% { color: #ffcc00; }
   100% { color: #00ffe1; }
}


/* Contenedor principal para título y botones */
#contenedor_principal {
    display: flex;
    flex-direction: row; /* Mantiene la disposición horizontal para Titulo_tareas y botones */
    align-items: center;
    justify-content: center; /* Centrar horizontalmente */
}

/* ID: Titulo_tareas */
#Titulo_tareas {
    margin-top: 20px;
    margin-bottom: 20px; /* Agrega espacio en la parte inferior del título */
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

/* Contenedor para botones con disposición vertical */
#contenedor_botones {
    display: flex;
    flex-direction: column; /* Disposición vertical para los botones */
    align-items: center;
}

/* CLASE: boton (BOTONES) */
.boton {
    padding: 8px;
    margin: 10px;
    width: 150px;
    height: 100px;
    background-color: #ffcc00;
    transition: background-color 0.4s ease-in-out;
    animation: cambioColor 3s infinite;
}

/* Definición de la animación cambioColor */
@keyframes cambioColor {
    0% { background-color: #ffcc00; }
    50% { background-color: rgb(188, 6, 170); }
    100% { background-color: #00ffe1; }
}
